body {
  font-family: "Open Sans", sans-serif;
  background: #002146; /* Main color as background */
  color: #fff; /* White text for contrast */
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background-color: #002146; /* Using main color for header */
  color: #d2aa57; /* Accent color for text */
  padding: 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.navbar a {
  color: #002146; /* Main color for text */
  background-color: #d2aa57; /* Accent color for background */
  border-radius: 20px;
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #fff; /* White background on hover */
  color: #002146;
}

.logo {
  height: 70px;
}

.event-list {
  padding: 50px 20px;
}

.event {
  background-color: #fff; /* White background for events */
  color: #002146; /* Main color for text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  text-align: left;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Semi-transparent black as modal background */
  padding-top: 60px;
}

.modal-content {
  background-color: #fff; /* White background for modal content */
  color: #002146; /* Main color for text */
  margin: 5% auto;
  padding: 40px;
  border-radius: 10px;
  width: 60%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000; /* Black for close button hover and focus */
  text-decoration: none;
  cursor: pointer;
}

.shape-blob {
  width: 200px;
  height: 200px;
  background-color: #d2aa57; /* Accent color for blob */
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -50px;
  opacity: 0.7;
}

.shape-circle {
  width: 300px;
  height: 300px;
  background-color: #fff; /* White for circle */
  border-radius: 50%;
  position: absolute;
  bottom: -150px;
  left: -150px;
  opacity: 0.5;
}
